<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete User</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <% var mon=["UserID", "Subject 1", "Subject 2", "Subject 3", "Subject 4"] %>
    <% var monid=["user_id","mon1","mon2","mon3","mon4"] %>
 
        <form class="form-horizontal" method="POST" action="/createscoreexam">
            <% for(var i=0; i< mon.length; i++) { %>
                <div class="form-group">
                    <label for=<%= monid[i] %> class="col-sm-2 control-label">
                        <%= mon[i] %>
                    </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id=<%= monid[i] %> name=<%= monid[i] %> placeholder="<%=mon[i]%>" >
                    </div>
                </div>
            <% } %>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Update</button>
                </div>
            </div>
        </form>

</body>
</html>