<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                    <b>S</b>s</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <b>S</b>site</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar--top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>

                                <li class="footer">
                                    <a href="#">See All Messages</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li class="footer">
                                    <a href="#">View all</a>
                                </li>
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <!-- <span class="hidden-xs">Alexander Pierce</span> -->
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        <!-- Alexander Pierce -->
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar">
                                <i class="fa fa-gears"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <!-- <p>Alexander Pierce</p> -->
                        <a href="#">
                            <i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Thong tin ca nhan</span>
                        </a>
                    </li>
                    <li>
                        <a href="/scoreexam">
                            <i class="fa fa-circle-o text-yellow"></i>
                            <span>Xem điểm thi THPT</span>
                        </a>
                    </li>
                    <li>
                        <a href="/notifygrad">
                            <i class="fa fa-circle-o text-yellow"></i>
                            <span>Xem Bằng cấp</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    View score
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> Home</a>
                    </li>
                    <li>
                        <a href="#">Student</a>
                    </li>
                    <li class="active">View score</li>
                </ol>
            </section>
            <hr/>
            <section class="content">
                <div class="container-fluid">
                    <br/>
                    <div class="box">
                        <div class="row">
                                <div class="container-fluid">
                                        <br/>
                                        <!-- <div class="clearfix"></div> -->
                                        <div class="container-fluid col-md-6 col-md-offset-2">
                                            <form method="GET" action="http://localhost:4200/scoreexam">
                                                <div class="form-group">
                                                    <label for="userid">Nhập UserID</label>
                        
                                                    <input type="text" class="form-control" id="userid " name="userid" required="required">
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>
                                                
                        
                                            </form>
                                        </div>
                                        
                                    </div>
                        </div>

                        <div class="row">
                            <% var mon=["UserID", "Subject 1", "Subject 2", "Subject 3", "Subject 4"] %>
                                <% var monid=["user_id","mon1","mon2","mon3","mon4"] %>
                                    <% if(locals.student) {%>
                                        <form class="form-horizontal" method="GET" action="/notifygrad">
                                            <% for(var i=0; i< mon.length; i++) { %>
                                                <div class="form-group">
                                                    <label for=<%=monid[i] %> class="col-sm-2 col-sm-offset-1">
                                                        <%= mon[i] %>
                                                    </label>
                                                    <div class="col-sm-3">
                                                        <% if(i == 0) { %>
                                                            <%= student.user_id %>
                                                                <% } else {%>
                                                                    <%= student.GraduScore[i-1].score_subject %>
                                                                        <% } %>
                                                    </div>
                                                </div>
                                                <% } %>

                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <button type="submit" class="btn btn-default" name="userid" value="<%=student.user_id%>">Submit</button>
                                                        </div>
                                                    </div>
                                        </form>
                                        <% } %>
                                            <% var user_bangcap=["User ID", "User Name", "Date Of Birth", "Sex User", "Address User","Certificate"] %>
                                                <% var user_tag_bc=["user_id", "name_user", "date_of_brith", "sex_user", "address_user", "bc_string"] %>
                                                    <% if(locals.bangcap) {%>
                                                        <form class="form-horizontal" method="GET" action="/notifygrad">
                                                            <% for(var i=0; i< user_bangcap.length; i++) { %>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 col-sm-offset-1">
                                                                        <%= user_bangcap[i] %>
                                                                    </label>
                                                                    <div class="col-sm-3">
                                                                        <p>
                                                                            <%= bangcap[user_tag_bc[i]] %>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <% } %>
                                                        </form>
                                                        <%}%>
                        </div>
                    </div>

                </div>
                <!-- <div style="height: 20px;"></div> -->
            </section>

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016
                <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights reserved.
        </footer>
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
</body>

</html>