<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <style type="text/css">.container {  
        padding: 10px;
        }
         
    .search-box {  
        display: inline-block;  
        width: 100%;  
        border-radius: 3px;  
        padding: 4px 55px 4px 15px;  
        position: relative;  
        background: #fff;  
        border: 1px solid #ddd;  
        -webkit-transition: all 200ms ease-in-out;  
        -moz-transition: all 200ms ease-in-out;  
        transition: all 200ms ease-in-out;
    }
         
    .search-box.hovered, .search-box:hover, .search-box:active {  
        border: 1px solid #aaa;
    }
         
    .search-box input[type=text] { 
         border: none;  
        box-shadow: none;  
        display: inline-block;  
        padding: 0;  
        background: transparent;
    }
         
    .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {  
        box-shadow: none;
    }
         
    .search-box .search-btn {  
        position: absolute;  
        right: 2px;  
        top: 2px;  
        color: #aaa;  
        border-radius: 3px;  
        font-size: 21px;  
        padding: 5px 10px 1px;  
        -webkit-transition: all 200ms ease-in-out;  
        -moz-transition: all 200ms ease-in-out;  
        transition: all 200ms ease-in-out;
    }
         
    .search-box .search-btn:hover {  
        color: #fff;  
        background-color: #8FBE00;
    }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                    <b>S</b>s</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <b>HUST</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar--top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>

                                <li class="footer">
                                    <a href="#">See All Messages</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li class="footer">
                                    <a href="#">View all</a>
                                </li>
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                               
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        <!-- Alexander Pierce -->
                                        <small>Member since Nov. 2018</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar">
                                <i class="fa fa-gears"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <!-- <p>Alexander Pierce</p> -->
                        <a href="#">
                            <i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Thong tin hoc ba</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="/scoreexam">
                            <i class="fa fa-circle-o text-yellow"></i>
                            <span>Xem điểm thi THPT</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/notifygrad">
                            <i class="fa fa-circle-o text-yellow"></i>
                            <span>Xem Bằng cấp</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    View score
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> Home</a>
                    </li>
                    <li>
                        <a href="#">Student</a>
                    </li>
                    <li class="active">View score</li>
                </ol>
            </section>
            <hr/>
            <section class="content">
                <div class="container-fluid">
                        <% var user=["Address User", "Date Of Birth", "User Name", "Gender", "User ID"] %>
                        <% var user_inf=["address_user", "date_of_brith", "name_user", "sex_user", "user_id"] %>
                        
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="text-center">Quan ly hoc ba hoc sinh</h1>
                            </div>
                                
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="search-box">
                                    <form class="search-form" action="http://localhost:4200/home">
                                        <input class="form-control" placeholder="Nhap UserID" type="text" name="userid">
                                        <button class="btn btn-link search-btn">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </form> 
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                    <form action="/home" method="get">
                                        <input type="hidden" name="userid" value="<%= hung.user_id %>" />
                                        <select name="class">
                                            <option selected>Choose</option>
                                            <option value=10>Class 10</option>
                                            <option value=11>Class 11</option>
                                            <option value=12>Class 12</option>
                                        </select>
                                        
                                        <input type="submit" value="Filter" />
                                    </form>
                                </div>
                            
                        </div>
                        <div class="information" style="margin-top: 100px">
                            <form>
                                <% for(var i=0; i<5; i++) { %>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label"><%= user[i] %></label>
                                        <div class="col-sm-10">
                                                <% if (locals.hung) { %>
                                                    <p><%= (Object.values(hung))[i]%></p>
                                                <% } %>
                                         
                                        </div>
                                      </div>
                                <% } %>       
                              </form>
                        </div>
                    
                        <% var school_profile=["Lop","Truong","Nam Hoc","Hieu Truong","Giao Vien","Toan","Ly","Hanh Kiem","Danh Hieu","Diem TB","Bang Cap"] %>
                        <% var school_pf_tag=["class_name","name_school","school_year","name_HT","name_GVCN","toan","ly","hk","dh","final_score","bc"] %>
                        <!-- <div class="show_score">
                                <% if (locals.classid) { %>
                                    <p>  <p><%= (Object.values(classid))%></p> </p>
                                <% } %>
                           
                        </div> -->
                
                        <div class="show_detail_score">
                            <form>
                                <% if (locals.classid) { %>
                                    <% for(var i=0; i<school_profile.length; i++) { %>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"><%= school_profile[i] %></label>
                                            <div class="col-sm-10">
                                                    <%if (classid.Subjects!==null) { %>
                                                        <%if (i==5) { %>
                                                            <p><%= classid.Subjects[0].score_subject%></p>
                                                        <% } %>
                                                        <%if (i==6) { %>
                                                            <p><%= classid.Subjects[1].score_subject%></p>
                                                        <% } %>
                                                    <% } %>
                                                    
                                                    <%if (i==8 && classid.dh !== null) { %>
                                                        <p><%= classid.dh[0]%></p>
                                                    <% } %>
                                                    <%if (i==10) { %>
                                                        <p><%= userclass.bc[0] %></p>
                                                    <% } %>
                                                    <%if ([0,1,2,3,4,7,9].indexOf(i) > -1) { %>
                                                        <p><%= classid[school_pf_tag[i]]%></p>
                                                    <% } %>
                                            
                                            </div>
                                        </div>
                                    <% } %>
                                <% } else { %>
                                <p style="color: red">
                                    <% if(locals.thongbao) {%>
                                        <%= thongbao %>
                                    <% } %>
                                </p>    
                                <% } %>
                              </form>
                        </div>
                    </div>
                </div>
                <!-- <div style="height: 20px;"></div> -->
            </section>

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0
                </div>
                <strong>Copyright &copy; 2017-2018
                    <a href="#">HUST</a>.</strong> All rights reserved.
            </footer>
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
</body>

</html>